body{
    height: 100%;
    width: 100%;
}

.overflow{
    overflow:hidden;
}

#button-collapse{
    background:none;
    border:none;
    border:none;
    font-size: 18px;
    text-align: center;
}

li.nav-item{
    padding: 4px 0;
}

a.nav-link{
    color: white;
    transition: 0.4s;
    text-align: end;
    /* margin-right: 10px;  */
    font-size: 14px;
    padding-left: 35px;
    margin: 0 4px;
}

a.nav-link:hover{
    color: #005baa;
    background-color: #fff;
    /* border-radius: 20px; */
}

.navbar{
    background: #005baa;
}

p.user-block{
    display: inline-flex;
    margin-bottom: 0;
}

a.item-auth{
    color: #005baa; 
    background-color: #fff;
    padding: 5px 12px;
    cursor: context-menu;
    margin: auto;
}

form.logout-form{
    display: inline-flex;
    width: 100%;
    margin: auto;
}

button.nav-link.item-auth{
    background: rgb(255, 0, 0);
    color: white;
    border: none;
    font-size: 14px;
    padding: 6px 10px !important;
    width: 100%;
}

.navbar-toggler-icon {
    color: white;
}

.collapse-ul{
    position: absolute;
    top:100%;
    /* right: 0; */
    background: #005baa;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    /* padding: 15px 10px; */
}

#nav-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-logo{
    height: 25px;
}

a.nav-link.active{
    border-bottom: 1px solid white;
}

@media screen and (max-width:992px){
    ul.navbar-nav>li.nav-item{
        padding: 4px 10px;
        margin-left: auto;
        margin-top: 5px;
    }

    .navbar-nav .nav-link{
        padding: 5px 10px;
    }
    span.navbar-toggler-icon{
        display: contents;
    }
    .img-logo{
        height: 18px;
    }
}