{% load staticfiles %} 
{% block head %}
<header>
  <div class="container">
    <div class="row justify-content-center">
        <div class="head-img-div animated bounceInDown">
          {% if page == "Меню"%}
          <img class="head-img" src="{% static 'img/dishes/dish-1.png' %}" />
          {%endif%}
          {% if page == "Корзина"%}
          <img class="head-img" src="{% static 'img/dishes/dish-2.png' %}" />
          {%endif%}
          {% if page == "Заказы"%}
          <img class="head-img" src="{% static 'img/dishes/dish-3.png' %}" />
          {%endif%}
        </div>
      <div class="head-h animated zoomInDown">
        <h1>{{page}}</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}
