{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Меню - ИнСтоловая</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include "includes/links/links.html" %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
  </head>
  <body
    class="overflow"
    style="
    display: table;
    height: 100vh;
    width: 100%;
    position: relative;"
  >
    {%include "includes/loader.html"%}
    <div class="fixed-button button-categories"><a id="button-categories">
      <img 
      src="{%static 'svg/categories-menu.png'%}" 
      alt="Категории">     
    </a></div>
    {%if basket%}
    <div class="fixed-button button-basket"><a href="/basket" id="button-basket">
      <img 
      src="{%static 'svg/basket.png'%}" 
      alt="Корзина">     
    </a></div>
    {%else%}
    <div class="fixed-button button-basket disp-none"><a href="/basket" id="button-basket">
      <img 
      src="{%static 'svg/basket.png'%}" 
      alt="Корзина">     
    </a></div>
    {%endif%}
    
    <div class="content">
      {% include "includes/navbar.html" %} 
      <div class="categories">
          <div class="content-list">
              <ul class="list-category">
                  <li class="category-item active" data-category="all">
                      <img src="{%static 'svg/Arrow.svg'%}"><a href="#">Все</a>
                  </li>
                  {%for category in categories%}
                  <li class="category-item" data-category="{{forloop.counter}}">
                      <img src="{%static 'svg/Arrow.svg'%}"><a href="#{{category}}">{{category}}</a>
                  </li>
                  {%endfor%}
                </ul>
          </div>
      </div>
      {% include "includes/head.html" %}

      <!-- <div class="col-md-2 col-4">
        <ul class="list-group list-category">
            <li class="list-group-item category-item active" data-category="all">
                <a>Все</a>
              </li>
            {%for category in categories%}
              <li class="list-group-item category-item" data-category="{{forloop.counter}}">
                <a href="#{{category}}">{{category}}</a>
              </li>
            {%endfor%}
          </ul>
    </div> -->
    
    <!-- SEARCH -->
    
    <!-- <div id="search">
      <input type="text" placeholder="Поиск товаров">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div> -->
    <div class="all-products-block">
      <div class="container-fluid">
        <div class="row justify-content-start">
          {%for product in products %}
              {% include "product.html" %}
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
    {% include "includes/footer.html" %} 
    {% include "includes/links/scripts.html"%}
    <script src="{% static 'js/category-menu.js' %}"></script>
    <script src="{% static 'js/add_product_ajax.js' %}"></script>
  </body>
</html>
