{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Меню</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include "includes/links/links.html" %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

  </head>
  <body
    class="overflow"
    style="
    display: table;
    height: 100vh;
    width: 100%;
    position: relative;"
  >
    {%include "includes/loader.html"%}

    <div class="content">
      {% include "includes/navbar.html" %} 
      {% include "includes/head.html" %}

      <div class="container">
        <ul class="horizontal-nav list-inline">
          {%for category in categories%}
          <li class="list-inline-item category-item" data-category="{{forloop.counter}}"><a href="#{{category}}">{{category}}</a></li>
          {%endfor%}
        </ul>
      </div>
<!-- 
      {%for key, value in products.items%}
      <div class="section" id='category_{{forloop.counter}}'>
          <h1>{{key}}</h1>
          {%for product in value %}
            {% include "product.html" %}
          {%endfor%}
      </div>
      {%endfor%}
    </div> -->

    <div class="all-products-block" style="padding: 20px 0;">
      <div class="container">
        <div class="row no-gutters">
          {%for product in products %}
              {% include "product.html" %}
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
    {% include "includes/footer.html" %} 
    {% include "includes/links/scripts.html"%}
    <script>
        var products = document.getElementsByClassName('add_product_form')
        console.log($('[data-category-product]'))
        $('.category-item').click(function () {
          $(".active").removeClass("active"); 
          $(this).addClass('active');
          $(products).each(function(){
            $(this).hide()
          })
          var category = $(this).attr('data-category')
          $('[data-category-product]').each(function(){
            if ($(this).attr('data-category-product')==category) {
              // console.log('work')
              $(this).fadeIn()
            }
          })
          // console.log()
          
        });
      </script>
      <script src="{% static 'js/add_product_ajax.js' %}"></script>
    <!-- <script>
      $(window).scroll(function() {
        $(".section").each(function() {
          if (
            $(this).offset().top-$(this).height()*0.5 < $(window).scrollTop()) {
            var currentclass = $(this).attr("id");
            // console.log(currentclass)
            $(".active").removeClass("active");
            $('a[href="#' + currentclass + '"]').addClass("active");
          }
        });
      });
    </script> -->

  </body>
</html>
