{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Меню - ИнСтоловая</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include "includes/links/links.html" %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

  </head>
  <body
    class="overflow"
    style="
    display: table;
    height: 100vh;
    width: 100%;
    position: relative;"
  >
    {%include "includes/loader.html"%}

    <div class="content">
      {% include "includes/navbar.html" %} 
      {% include "includes/head.html" %}

      <!-- <div class="container">
        <ul class="horizontal-nav list-inline">
          {%for category in categories%}
          <li class="list-inline-item category-item" data-category="{{forloop.counter}}"><a href="#{{category}}">{{category}}</a></li>
          {%endfor%}
        </ul>
      </div> -->


        

    <div class="all-products-block">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-4">
                <ul class="list-group list-category">
                    <li class="list-group-item category-item active" data-category="all">
                        <a>Все</a>
                      </li>
                    {%for category in categories%}
                      <li class="list-group-item category-item" data-category="{{forloop.counter}}">
                        <a href="#{{category}}">{{category}}</a>
                      </li>
                    {%endfor%}
                  </ul>
            </div>
            <div class="col-md-10 col-8">
                <div class="row">
                    {%for product in products %}
                        {% include "product.html" %}
                    {%endfor%}
                    </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    {% include "includes/footer.html" %} 
    {% include "includes/links/scripts.html"%}
    <script>
        var products = document.getElementsByClassName('add_product_form')
        // console.log($('[data-category-product]'))
        $('.category-item').click(function () {
          $(".active").removeClass("active"); 
          $(this).addClass('active');
          var attr = ($(this).attr('data-category'))

          if (attr=='all'){

            // console.log('true')
            $(products).each(function(){
              $(this).fadeIn()
            })  

          } else {
            // console.log('false')
            $(products).each(function(){
              $(this).hide()
            });

            var category = $(this).attr('data-category')
            $('[data-category-product').each(function(){
              if ($(this).attr('data-category-product')==category){
                // console.log(this)
                $(this).fadeIn()
              }
            });

          };
        });
      </script>
      <script src="{% static 'js/add_product_ajax.js' %}"></script>
  </body>
</html>
