{%block product%}
<form method="POST" action="add_product" class="add_product_form product col-6 col-md-4" data-category-product="{{product.category}}">
        {%csrf_token%}
        <h3>
            {{product.name}}
        </h3>
        <h5>
           Описание: {{product.description}}
        </h5>
        <h6>
           Цена: {{product.price}}$
        </h6>
        {%if user.is_authenticated %}
        <button class="btn btn-success" type="submit" data-id={{product.id}}>Добавить в корзину</button>
        {%endif%}
</form>
{%endblock%}