{% block basket_product%}

<li class="list-group-item product-in-basket" data-product_li="{{item.product.id}}">
   
  <div class="d-flex" style="justify-content: space-between;">
    <h6>{{item.product}}</h6>
    <a 
    class="delete_product" 
    data-product_id='{{item.product.id}}' 
    href="{% url 'delete' %}"
    style="color: red;">
      <i class="fa fas fa-trash"></i>
    </a>
  </div>
  
    <p style="margin: 0;">
      Цена : {{item.product.price}} ₽
      <br>
      Количество : <span class="quantity-area" data-quantity="{{item.order.id}}">{{item.quantity}}</span>шт.
    </p>
</li>

{%endblock%}