{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="overflow">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Корзина</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include "includes/links/links.html" %} 
  </head>
  <body class="overflow">
    {%include "includes/loader.html"%}
    {% include "includes/navbar.html" %} 
    {% include "includes/head.html" %} 
        <div class="container" style="height: 57vh;">
            <form action="pay" method="POST">
              {%csrf_token%}
              <div class="row">
                
                {% for order in basket%}
                  <div class="col-3">
                    <h1>Заказ №{{order.id}}</h1>
                    <h5>Продукты:</h5>
                    <ul>
                      {%for product in order.basket.all%}
                        <li>{{product.name}} - {{product.price}}</li>
                      {%endfor%}
                    </ul>
                  </div>
                {%endfor%}
              </div>
              {%if basket%}
                <button class="btn btn-success" type="submit">
                  <H1>PAY</H1>
                </button>
              {%else%}
              <h1 class="text-center">Корзина пустая</h1>
              <h4 class="text-center">Закажите блюдо в <a href="/menu">меню</a> 
                
              </h4>
              {%endif%}
              </form>
            </div>

    {% include "includes/footer.html" %}
    {%include "includes/links/scripts.html"%}
  </body>
</html>
