a.nav-link{
    color: white;
    transition: 0.4s;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 20px;
}

a.nav-link:hover{
    color: #005baa;
    background-color: #fff;
}

.navbar{
    background: #005baa;
}

a.item-auth{
    color: #005baa; 
    background-color: #fff;
    border-radius: 0;
}

.navbar-toggler-icon {
    color: white;
}
