 @import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');   /* 'Poiret One', cursive */
 @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap'); /*'Comfortaa', cursive*/
@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');  /* 'Istok Web', sans-serif */
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap'); /*'Neucha', cursive */

ul.navbar-nav>li.nav-item{
    padding: 4px;
 
}

a.nav-link{
    color: white;
    transition: 0.4s;
    margin-right: 20px;
    font-size: 14px;
    padding: 6px;
}

a.nav-link:hover{
    color: #005baa;
    background-color: #fff;
    /* border-radius: 20px; */
}

.navbar{
    background: #005baa;
}

a.item-auth{
    color: #005baa; 
    background-color: #fff;
    /* border-radius: 0; */
}

.navbar-toggler-icon {
    color: white;
}


.img-logo{
    height: 25px;
}

a.nav-link.active{
    border-bottom: 1px solid white;
}

img.food-1{
    /* height: 500px;
    Чтобы тарелка плавала по странице незавимо - задается absolute
    position: relative;
    z-index: -1;
    display: block;
    margin: 0 auto; */
    position: absolute;
    z-index: -1;
    width: 80%;
    left: 10%;
    top: 200px;
}

img.food-2{
    /* height: 500px;
    display: block;
    margin: 0 auto;
    margin-top:-200px;
    z-index: -9999; */
    position: absolute;
    z-index: -1;
    top: 800px;
    left: calc(50% - (100% / 4));
    width: calc(100% / 2);
}

.welcome{
    padding-bottom: 200px;
}

.welcome-text{
    text-align: center;
    margin-top: 90px;
    font-family: 'Neucha', cursive;
    font-size: 42px;
}

.block-about{
    top: 100%;
    position: absolute;
    padding: 50px 0;
    background: white;
    box-shadow: 0 0 5px -2px black;
}

h1.text-about{
    text-align: center;
    color:black;
    font-family: 'Istok Web', sans-serif;
    font-size: 30px;
}

@media screen and (max-width:992px){
    ul.navbar-nav>li.nav-item{ 
        margin-left: auto;
    }
    span.navbar-toggler-icon{
        display: contents;
    }
}

@media screen and (max-width:662px){
    h1.text-about{
        font-size: 20px;
    }
    .block-about{
        padding: 25px 0;
    }
    img.food-1{
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width:494px){
    h1.text-about{
        font-size: 16px;
    }
    header>h1.welcome-text{
        font-size: 20px;
    }
}
