{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Заказы - ИнСтоловая</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include "includes/links/links.html" %}
    <link rel="stylesheet" href="{%static 'css/orders.css'%}">
  </head>
  <body class="overflow"
  style="
  display: table;
  height: 100vh;
  width: 100%;">
    {%include "includes/loader.html"%}
    <div class="content">
        {% include "includes/navbar.html" %} 
        {% include "includes/head.html" %} 
    
        <div class="container">

          {%if orders_get%}
          <h2 class="text-center">Ожидаемые заказы</h2>
          <div class="row">
            {%for order in orders_get %}
              <div class="col-12 order">
                {%include 'order.html'%}
              </div>
            {%endfor%}
          </div>
          {%endif%}

          {%if orders_get and orders_gotten%}
            <hr>
          {%endif%}
          
          {%if orders_gotten %}
          <h2 class="text-center">Выданные заказы</h2>
          <div class="row">
            {%for order in orders_gotten %}
              <div class="col-12 order">
                {%include 'order.html'%}
              </div>
            {%endfor%}
          </div>
          {%endif%}

          {%if not orders_gotten and not orders_get%}
            <h2 class="text-center">У вас нет заказов</h2>
            <h3 class="text-center"><a href='/menu'>Сделайте свой первый заказ</a></h3>
          {%endif%}
        </div>
    </div>

    {% include "includes/footer.html" %} 

    {%include "includes/links/scripts.html"%}
    <script src="{%static 'js/get_order.js'%}"></script>
    <script src="{% static 'js/refresh.js' %}"></script>
  </body>
</html>
