{% load static %}
<!DOCTYPE html>
<html lang="en" class="overflow">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Заказы</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include "includes/links/links.html" %}
  </head>
  <body class="overflow">
    {%include "includes/loader.html"%}
    {% include "includes/navbar.html" %} 
    {% include "includes/head.html" %} 
    <div class="" style="height:200px"></div>
    <div class="container">
      <div class="orders">
        {%for order in orders%}
          <h4>
            total_price: {{order.total_price}} <br>
            products:
          </h4>
          {% for product in order.basket.all %}
            <p>{{product.name}}</p>
          {% endfor %}
        {%endfor%}
      </div>
    </div>
    {% include "includes/footer.html" %} 

    {%include "includes/links/scripts.html"%}
  </body>
</html>
