div.content>div.container{
    padding: 20px 0px;
}

.order{
    margin: 5px auto;
    box-sizing: border-box;
    background: ghostwhite;
    padding: 10px;
}

li.product-in-order{
    border: none;
    padding: 8px;
    margin: 0;
    background: none;
}

form.refresh-order>button{
    background: none;
    border: none;
    transition: 400ms;
}

form.refresh-order:hover>button{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}