@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');   /* 'Poiret One', cursive */
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap'); /*'Comfortaa', cursive*/
@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');  /* 'Istok Web', sans-serif */
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap'); /*'Neucha', cursive */

p,h1,h2,h3,h4,h5,h6{
    cursor: context-menu;
}

.block-img{
    width: 500px;
    z-index: -2 !important;
}

img.food{
    /* z-index: -2 !important; */
    max-width: 100%;
    height: auto;
}

.welcome-text{
    text-align: center;
    margin-top: 90px;
    font-family: 'Neucha', cursive; 
    font-size: 42px;
}

.block-about{
    top: 90%;
    width: 100%;
    /* margin-top: -80px; */
    padding: 35px 0;
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 5px -2px black;
}

h1.text-about{
    text-align: center;
    color:black;
    font-family: 'Istok Web', sans-serif;
    font-size: 30px;
}

/* text-info */
.block-info{
    background: #005bac;
}

.coloumn{
    padding: 20px;
}

.block-text-info{
    /* width: 70%; */
    /* height: 130px; */
    height: 230px;
    line-height: 230px;
    width: 230px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.25);
    transition: 150ms;
    /* margin: 50px 0 0px 0px; */
}

.block-text-info:hover{
    /* border-radius: 20px; */
    margin-top: -5px;
    box-shadow: 0 5px 15px 1px rgb(0, 0, 0, 0.5);
}

p.info-text{
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 0;

    /* for vertical align */
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

/* media */

@media screen and (max-width:992px){
    .block-text-info{
        height: 180px;
        width: 180px;
        line-height: 180px;
    }
    p.info-text{
        font-size: 14px;
    }
}

@media screen and (max-width:768px){
    .block-text-info{
        height: 150px;
        line-height: 150px;
        width: 150px;
    }
    p.info-text{
        font-size: 14px;
    }
}

@media screen and (max-width:662px){
    h1.text-about{
        font-size: 22px;
    }
    .block-about{
        padding: 25px 0;
    }
    /* .block-text-info{
        width: 110%;
        font-size: 17px;
        margin: 30px;
        margin-left: auto;
        margin-right: auto;

    } */
    .block-text-info{
        padding: 0 10px;
        height: 120px;
        line-height: 120px;
        width: 120px;
    }
    p.info-text{
        font-size: 12px;
    }
    /* .block-info{
        height: 190px;
    } */
}

@media screen and (max-width:494px){
    h1.text-about{
        font-size: 16px;
    }
    header>h1.welcome-text{
        height: 100px;
    }
    .block-img{
        width: 350px;
    }
    /* .block-text-info {
        width: 100%;
        font-size: 15px;
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
    } */
    .coloumn{
        padding: 8px;
    }
    .block-text-info{
        padding: 0 8px;
        height: 105px;
        line-height: 105px;
        width: 105px;
    }
    p.info-text{
        font-size: 9px;
    }
}

@media screen and (max-width:360px){
    .block-about{
        top: 80%;
    }
    .block-text-info{
        height: 90px;
        line-height: 90px;
        width: 90px;
    }
    /* .block-text-info {
        width: 120%;
       height: 100px;
       font-size: 11px;
       margin: 40px;
       margin-left: -10px;
       margin-right: auto;
       } */
}
/* 
@-moz-document url-prefix() {
    p.info-text {
      display: block;
      outline: none;
    }
  } */