form.order_in_basket>div.row>div.basket{
    margin: 5px 0;
    padding: 10px;
}

li.product-in-basket{
    border: none;
    border-radius: 10px !important;
    margin: 8px 0px !important;
    margin: 0;
    transition: 200ms;
    background: linear-gradient(to bottom, #F5FFBA, white );
    box-shadow: -3px 3px 5px 0 rgb(0, 0, 0, 0.1);
}

.content-item{
    padding: 10px 0;
}

.text-item{
    padding-left: 10px;
}

.text-item>h6,a.delete_product{
    font-size: 18px;
}